body {
	margin: 0;
	padding: 0;
}
.header-container {
	background-color: #abcdef;
	padding: 10px;
}
.device-details-wrapper {
	background-color: #ccc;
	padding: 10px;
}
.docked.header-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1
}
.docked.header-container p {
	display: none;
}